/target
/classification/data/Original_JobAdFile_BIBB.xls
/classification/db/jobAdDB.db
/classification/output/allModels
/classification/output/myModels
/classification/output/rankings
/classification/output/singleResults
/information_extraction/data/competences/competenceContexts.txt
/information_extraction/data/competences/competences.txt
/information_extraction/data/competences/competenceStatistics.txt
/information_extraction/data/competences/modifiers.txt
/information_extraction/data/competences/noCompetences.txt
/information_extraction/data/openNLPmodels/de-sent.bin
/information_extraction/data/openNLPmodels/de-token.bin
/information_extraction/data/sentencedata_models/ger-tagger+lemmatizer+morphology+graph-based-3.6
/information_extraction/data/tools/noTools.txt
/information_extraction/data/tools/tools.txt
/information_extraction/data/tools/toolContexts.txt
/information_extraction/data/tools/toolStatistics.txt
/JobAd_IE/src/test/resources/classification/input/models